<div class="header">
    <!-- <div class="container"> -->
        {{ page.header }}
    <!-- </div> -->
</div>

<div class="content">
    <div class="container">
        {{page.content}}
    </div>
</div>

<div class="highlighted">
    <div class="container">
        {{ page.highlited }}
    </div>
    
</div>
<div class="footer">
    <div class="container">
    {{page.footer}}
</div>
</div>